<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Techtonic Academy Portal</title>

    <!--Remove after Demo-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/components/sidebar/sidebar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styleguide.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid"></div>
    <div class="sidebar-container">
        <div class="sidebar-header">
            <a href="/"><img height="50" class="icon" src="~/images/icon.png" /></a>
        </div>
        <div class="sidebar-content">
            <nav class="sidebar-nav">
                @await Html.PartialAsync("_LoginPartial")
                @RenderSection("Sidebar", required: false)
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Techtonic Academy</p>
        </footer>
    </div>
    @RenderSection("Scripts")
</body>
</html>
